body {
    text-align: center;
    font-family: Arial;
    margin-top: 40px;
}

.semaforo {
    width: 120px;
    padding: 20px;
    background-color: black;
    margin: 0 auto;
    border-radius: 15px;
}

.luz {
    width: 80px;
    height: 80px;
    background-color: #333;
    border-radius: 50%;
    margin: 15px auto;
    transition: background-color 0.3s ease;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}